

body {
    background-color: #275027;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;

.image {
    width: 100vw;
    height: 50px;

    img{
        width: 60px;

    }

};

.login {

    background-color: #175B17;
    display: flex;
    justify-content: center;
    align-items: center;
    width:30vw;
    height: 46vh;
    border-radius: 8px;
    flex-direction: column;
    gap: 70px;
    margin-top: 160px;
    .entrar {

        width: 130px;
        border-radius: 8px;
        font-size:small;
        color: rgb(140, 141, 142);

    }

    .E-mail {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 85%;

        input {
            padding: 10px;
            border-radius:  10px; 
            font-size: medium;
            color: rgb(162, 171, 179);
            border: none
        }
    }
    
};



};